<html>
    <head>
        <title> Login </title>
        <link href="/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles/login.css" rel="stylesheet">

        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/styles/bootstrap/js/bootstrap.min.js"></script>
    </head>
    </body>
        <form class="login-form" method="POST" action="/security/login">
            <span id="RustyLogin">
                <div class="login-controls">
                    <div class="row">
                        <label for="login" class="label">User name</label>
                        <input name="login" type="text" class="textbox">
                    </div>
                    <div class="row">
                        <label for="password" class="label">Password</label>
                        <input name="password" type="password" class="textbox">
                    </div>
                    <div class="row buttons">
                        <input type="submit" class="login-button" value="Log in"/>
                        <a type="submit" class="login-button" href="/register" >Register</a>
                    </div>
                </div>
            </span>
        </div>
    </body>
</html>
