
.header {
    background-color: black;
}

.main-text {
    font-size: 21px;
    text-align: center;
    color: #fff;
    line-height: 62px;
    font-family: 'Segoe UI Light', 'Calibri Light', 'Gill Sans Light';
}

.bordered {
    border: 1px solid #97999B;
}

.main-pane {
    height: 100%;
}

.browse-text {
    padding-left: 20px;
}

#tree li {
    background-color: black;
}

#tree .jstree-clicked {
    background-color: black;
    color: red;
}

